// Branding colors

$color-primary:      #FF6700;
$color-secondary:    #376DA7;
$color-tertiary:     #004C9A;
$color-black:        #3B3836;
$color-grey:         #77716D;
$color-light-grey:   #ECECEC;
$color-lighter-grey: #F9F9F9;
$color-success:      #19A460;
$color-warning:      #FEE13D;
$color-error:        #FF3F3F;
$color-white:        #FFF;

// Extra colors

$color-aqua:         #E0ECF6;
$color-grass:        #D7F1C9;
