@import 'styles/modules/all';
@import 'styles/partials/reset';

body {
  font-family:      $font-primary-stack, Helvetica, arial, sans-serif;
  font-weight:      $font-primary-weight-regular;
  font-style:       normal;
  font-size:        $body-size;
  line-height:      $body-lineheight;
  color:            $color-black;
  background-color: $color-lighter-grey;
  overflow-x:       hidden;
  text-rendering:   geometricPrecision;
}

a {
  color:           $color-primary;
  text-decoration: none;
}

/*------------------------------------
FONTS
------------------------------------*/

@include font-family($font-primary, $font-primary-weight-light, italic, 'fonts/merriweather/', 'Merriweather-LightIt');
@include font-family($font-primary, $font-primary-weight-regular, normal, 'fonts/merriweather/', 'Merriweather-Regular');
@include font-family($font-primary, $font-primary-weight-regular, italic, 'fonts/merriweather/', 'Merriweather-Italic');
@include font-family($font-primary, $font-primary-weight-medium, normal, 'fonts/merriweather/', 'Merriweather-Bold');
@include font-family($font-primary, $font-primary-weight-medium, italic, 'fonts/merriweather/', 'Merriweather-BoldItalic');
@include font-family($font-primary, $font-primary-weight-bold, normal, 'fonts/merriweather/', 'MerriweatherUltraBold');
@include font-family($font-primary, $font-primary-weight-bold, italic, 'fonts/merriweather/', 'Merriweather-UltraBdIt');

@include font-family($font-secondary, $font-secondary-weight-thin, normal, 'fonts/montserrat/', 'Montserrat-Thin');
@include font-family($font-secondary, $font-secondary-weight-extralight, normal, 'fonts/montserrat/', 'Montserrat-ExtraLight');
@include font-family($font-secondary, $font-secondary-weight-light, normal, 'fonts/montserrat/', 'Montserrat-Light');
@include font-family($font-secondary, $font-secondary-weight-regular, normal, 'fonts/montserrat/', 'Montserrat-Regular');
@include font-family($font-secondary, $font-secondary-weight-medium, normal, 'fonts/montserrat/', 'Montserrat-Medium');
@include font-family($font-secondary, $font-secondary-weight-semibold, normal, 'fonts/montserrat/', 'Montserrat-SemiBold');
@include font-family($font-secondary, $font-secondary-weight-black, normal, 'fonts/montserrat/', 'Montserrat-Black');

/*------------------------------------
TYPOGRAPHY
------------------------------------*/

.color--white {
  color: $color-white;
}

.color--grey {
  color: $color-grey;
}

h1 {
  font-family: $font-secondary-stack;
  font-size:   $h1-size;
  line-height: $h1-lineheight;
  font-weight: $font-secondary-weight-light
}

h2 {
  font-family: $font-secondary-stack;
  font-size:   $h2-size;
  line-height: $h2-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h3 {
  font-family: $font-secondary-stack;
  font-size:   $h3-size;
  line-height: $h3-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h4 {
  font-family: $font-secondary-stack;
  font-size:   $h4-size;
  line-height: $h4-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h5 {
  font-family: $font-secondary-stack;
  font-size:   $h5-size;
  line-height: $h5-lineheight;
  font-weight: $font-secondary-weight-regular;
}

.typography-lead {
  font-family: $font-primary-stack;
  font-size:   $lead-size;
  line-height: $lead-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-body, p {
  font-family: $font-primary-stack;
  font-size:   $body-size;
  line-height: $body-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-caption {
  font-family: $font-primary-stack;
  font-size:   $caption-size;
  line-height: $caption-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-small {
  font-family: $font-primary-stack;
  font-size:   $small-size;
  line-height: $small-lineheight;
  font-weight: $font-primary-weight-regular;
}


/*------------------------------------
LAYOUT
------------------------------------*/

nav {
  height: 55px;

  & ul {
    display: flex;

    & li {
      position:    relative;
      width:       100px;
      height:      55px;
      line-height: 55px;
      text-align:  center;
    }

    & li a {
      color: $color-grey;
    }

    & li a:hover, li a:active {
      color: $color-primary;
    }

    & li.selected::before {
      content:          ' ';
      position:         absolute;
      top:              0;
      left:             50%;
      z-index:          1;
      width:            25px;
      height:           4px;
      margin-left:      -12px;
      background-color: $color-primary;
    }

    & li.selected a {
      font-weight: $font-primary-weight-medium;
      color:       $color-black;
    }
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

input, textarea {
  font-family: 'Avenir';
}

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2;
}

/*------------------------------------
BUTTONS
------------------------------------*/
.button {
  font-family: 'Avenir Book';
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
}

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83;
}

.button--submit:active {
  background-color: #16af7a;
}

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress;
}

.button--submit[disabled]:hover {
  border: none;
}

/*------------------------------------
ICONS
------------------------------------*/

.icon {
  display: inline-block;
  background-size: 80px;
}

.icon--small {
	width  : 20px;
	height : 20px;
}

.icon--medium {
	width  : 32px;
	height : 32px;
}

.icon--back {
	background-position: 0 0;
}

.icon--timer {
	background-position: 0 -20px;
}

.icon--plus {
	background-position: 0 -60px;
}


/*------------------------------------
HELPERS
------------------------------------*/

.clearfix::after {
	content: '';
	display: table;
	clear  : both;
}


/*------------------------------------
MEDIAS
------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 192dpi) {
	.icon {
		/* background-image: url('i/sprite@2x.png') */
	}
}
