/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   -- modified by mahestro <millanluiseduardo@gmail.com>
   -- BEM-friendly
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Merriweather", Helvetica, arial, sans-serif, Helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3B3836;
  background-color: #F9F9F9;
  overflow-x: hidden;
  text-rendering: geometricPrecision; }

a {
  color: #FF6700;
  text-decoration: none; }

/*------------------------------------
FONTS
------------------------------------*/
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-LightIt.eot");
  src: url("fonts/merriweather/Merriweather-LightIt.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-LightIt.woff") format("woff"), url("fonts/merriweather/Merriweather-LightIt.ttf") format("truetype"), url("fonts/merriweather/Merriweather-LightIt.svg#Merriweather") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Regular.eot");
  src: url("fonts/merriweather/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Regular.woff") format("woff"), url("fonts/merriweather/Merriweather-Regular.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Regular.svg#Merriweather") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Italic.eot");
  src: url("fonts/merriweather/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Italic.woff") format("woff"), url("fonts/merriweather/Merriweather-Italic.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Italic.svg#Merriweather") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Bold.eot");
  src: url("fonts/merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Bold.woff") format("woff"), url("fonts/merriweather/Merriweather-Bold.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Bold.svg#Merriweather") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-BoldItalic.eot");
  src: url("fonts/merriweather/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-BoldItalic.woff") format("woff"), url("fonts/merriweather/Merriweather-BoldItalic.ttf") format("truetype"), url("fonts/merriweather/Merriweather-BoldItalic.svg#Merriweather") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/MerriweatherUltraBold.eot");
  src: url("fonts/merriweather/MerriweatherUltraBold.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/MerriweatherUltraBold.woff") format("woff"), url("fonts/merriweather/MerriweatherUltraBold.ttf") format("truetype"), url("fonts/merriweather/MerriweatherUltraBold.svg#Merriweather") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-UltraBdIt.eot");
  src: url("fonts/merriweather/Merriweather-UltraBdIt.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-UltraBdIt.woff") format("woff"), url("fonts/merriweather/Merriweather-UltraBdIt.ttf") format("truetype"), url("fonts/merriweather/Merriweather-UltraBdIt.svg#Merriweather") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Thin.eot");
  src: url("fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("fonts/montserrat/Montserrat-Thin.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Thin.svg#Montserrat") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype"), url("fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Light.eot");
  src: url("fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Light.woff") format("woff"), url("fonts/montserrat/Montserrat-Light.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Light.svg#Montserrat") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Regular.eot");
  src: url("fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Regular.svg#Montserrat") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Medium.eot");
  src: url("fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Medium.svg#Montserrat") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("fonts/montserrat/Montserrat-SemiBold.svg#Montserrat") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Black.eot");
  src: url("fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Black.woff") format("woff"), url("fonts/montserrat/Montserrat-Black.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Black.svg#Montserrat") format("svg");
  font-weight: 900;
  font-style: normal; }

/*------------------------------------
LAYOUT
------------------------------------*/
input, textarea {
  font-family: 'Avenir'; }

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2; }

/*------------------------------------
BUTTONS
------------------------------------*/
.button {
  font-family: 'Avenir Book';
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer; }

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer; }

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83; }

.button--submit:active {
  background-color: #16af7a; }

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress; }

.button--submit[disabled]:hover {
  border: none; }

/*------------------------------------
ICONS
------------------------------------*/
.icon {
  display: inline-block;
  background-size: 80px; }

.icon--small {
  width: 20px;
  height: 20px; }

.icon--medium {
  width: 32px;
  height: 32px; }

.icon--back {
  background-position: 0 0; }

.icon--timer {
  background-position: 0 -20px; }

.icon--plus {
  background-position: 0 -60px; }

/*------------------------------------
HELPERS
------------------------------------*/
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

/*------------------------------------
MEDIAS
------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  .icon {
    /* background-image: url('i/sprite@2x.png') */ } }
