/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   -- modified by mahestro <millanluiseduardo@gmail.com>
   -- BEM-friendly
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Merriweather", Helvetica, arial, sans-serif, Helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3B3836;
  background-color: #F9F9F9;
  overflow-x: hidden;
  text-rendering: geometricPrecision; }

a {
  color: #FF6700;
  text-decoration: none; }

/*------------------------------------
FONTS
------------------------------------*/
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-LightIt.eot");
  src: url("fonts/merriweather/Merriweather-LightIt.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-LightIt.woff") format("woff"), url("fonts/merriweather/Merriweather-LightIt.ttf") format("truetype"), url("fonts/merriweather/Merriweather-LightIt.svg#Merriweather") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Regular.eot");
  src: url("fonts/merriweather/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Regular.woff") format("woff"), url("fonts/merriweather/Merriweather-Regular.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Regular.svg#Merriweather") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Italic.eot");
  src: url("fonts/merriweather/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Italic.woff") format("woff"), url("fonts/merriweather/Merriweather-Italic.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Italic.svg#Merriweather") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Bold.eot");
  src: url("fonts/merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Bold.woff") format("woff"), url("fonts/merriweather/Merriweather-Bold.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Bold.svg#Merriweather") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-BoldItalic.eot");
  src: url("fonts/merriweather/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-BoldItalic.woff") format("woff"), url("fonts/merriweather/Merriweather-BoldItalic.ttf") format("truetype"), url("fonts/merriweather/Merriweather-BoldItalic.svg#Merriweather") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/MerriweatherUltraBold.eot");
  src: url("fonts/merriweather/MerriweatherUltraBold.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/MerriweatherUltraBold.woff") format("woff"), url("fonts/merriweather/MerriweatherUltraBold.ttf") format("truetype"), url("fonts/merriweather/MerriweatherUltraBold.svg#Merriweather") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-UltraBdIt.eot");
  src: url("fonts/merriweather/Merriweather-UltraBdIt.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-UltraBdIt.woff") format("woff"), url("fonts/merriweather/Merriweather-UltraBdIt.ttf") format("truetype"), url("fonts/merriweather/Merriweather-UltraBdIt.svg#Merriweather") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Thin.eot");
  src: url("fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("fonts/montserrat/Montserrat-Thin.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Thin.svg#Montserrat") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype"), url("fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Light.eot");
  src: url("fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Light.woff") format("woff"), url("fonts/montserrat/Montserrat-Light.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Light.svg#Montserrat") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Regular.eot");
  src: url("fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Regular.svg#Montserrat") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Medium.eot");
  src: url("fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Medium.svg#Montserrat") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("fonts/montserrat/Montserrat-SemiBold.svg#Montserrat") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Black.eot");
  src: url("fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Black.woff") format("woff"), url("fonts/montserrat/Montserrat-Black.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Black.svg#Montserrat") format("svg");
  font-weight: 900;
  font-style: normal; }

/*------------------------------------
TYPOGRAPHY
------------------------------------*/
.color--white {
  color: #FFF; }

.color--grey {
  color: #77716D; }

h1 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 78px;
  line-height: 84px;
  font-weight: 300; }

h2 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: 400; }

h3 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 46px;
  line-height: 60px;
  font-weight: 400; }

h4 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 34px;
  line-height: 48px;
  font-weight: 400; }

h5 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400; }

.typography-lead, .footer__links ul li a {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }

.typography-body, p {
  font-family: "Merriweather", Helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.typography-caption {
  font-family: "Merriweather", Helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400; }

.typography-small {
  font-family: "Merriweather", Helvetica, arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400; }

/*------------------------------------
LAYOUT
------------------------------------*/
.wrapper {
  width: 960px;
  margin: 0 auto; }

nav {
  height: 55px; }
  nav ul {
    display: flex; }
    nav ul li {
      position: relative;
      width: 100px;
      height: 55px;
      line-height: 55px;
      text-align: center; }
    nav ul li a {
      color: #77716D; }
    nav ul li a:hover, nav ul li a:active {
      color: #FF6700; }
    nav ul li.selected::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      width: 25px;
      height: 4px;
      margin-left: -12px;
      background-color: #FF6700; }
    nav ul li.selected a, nav ul li.selected a:hover {
      font-weight: 600;
      color: #3B3836; }

footer {
  background-color: #3B3836; }

.footer__photo {
  padding-top: 84px; }

.footer__photo__mask {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }

.footer__info {
  padding-top: 36px;
  width: 305px;
  margin: 0 auto;
  text-align: center; }
  .footer__info p {
    padding-top: 12px;
    color: #ECECEC; }
  .footer__info:after {
    content: ' ';
    display: block;
    margin: 68px auto 0;
    width: 20px;
    height: 4px;
    background-color: #77716D; }

.footer__links {
  padding-top: 72px; }
  .footer__links ul {
    display: flex;
    width: 520px;
    margin: 0 auto; }
    .footer__links ul li {
      width: 130px;
      height: 70px;
      margin: auto;
      text-align: center; }
      .footer__links ul li .icon {
        display: block;
        margin: 0 auto 12px;
        fill: #ECECEC; }

.footer__copyright {
  padding: 216px 0 48px;
  width: 190px;
  margin: 0 auto;
  text-align: center; }

.prefooter {
  height: 168px;
  line-height: 168px;
  text-align: center;
  background-color: #FFF; }

.work {
  padding-top: 124px; }

.work__item {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 140px; }

.work__item:first-child {
  margin-top: 0; }

.work__item:last-child {
  margin-bottom: 200px; }

.work__item--left-orientation {
  display: flex;
  flex-direction: row-reverse; }

.work__item__photo {
  position: relative;
  background-color: #004C9A;
  width: 632px;
  height: 504px;
  text-align: center; }

.work__item__photo--dejavu {
  background-color: #E0ECF6; }

.work__item__photo--nasa {
  background-attachment: fixed;
  background: url(./i/nasa-work-list.png) center center;
  background-color: #004C9A; }

.work__item__photo--lmp {
  background-color: #D7F1C9; }

.work__item__photo--squidjob {
  background-color: #E0ECF6; }

.work__item__photo--concepts {
  background-color: #ECECEC; }

.work__item__info {
  position: relative;
  top: 20px;
  right: 35px;
  width: 404px;
  height: 504px;
  background-color: #FFF;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.06);
  box-shadow: -5px 20px 35px rgba(0, 0, 0, 0.05);
  border-radius: 2px; }

.work__item--left-orientation .work__item__info {
  top: -10px;
  left: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 5px 20px 35px rgba(0, 0, 0, 0.05); }

.work__item__info__wrapper {
  width: 254px;
  margin: 0 auto;
  padding-top: 80px; }

.work__item__info__tags {
  color: #77716D;
  padding-top: 12px; }

.work__item__info__content {
  padding-top: 48px; }

.work__item__info__button {
  padding-top: 44px; }

input, textarea {
  font-family: "Merriweather", Helvetica, arial, sans-serif; }

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2; }

/*------------------------------------
LINKS
------------------------------------*/
.link {
  color: #FF6700;
  text-decoration: none; }
  .link .icon {
    margin-left: 4px; }

.link:hover,
.link:focus {
  color: #77716D;
  text-decoration: underline; }
  .link:hover .icon,
  .link:focus .icon {
    fill: #77716D; }

.link:active {
  color: #004C9A; }

/*------------------------------------
BUTTONS
------------------------------------*/
.button {
  font-family: "Merriweather", Helvetica, arial, sans-serif;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer; }

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer; }

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83; }

.button--submit:active {
  background-color: #16af7a; }

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress; }

.button--submit[disabled]:hover {
  border: none; }

/*------------------------------------
ICONS
------------------------------------*/
.icon {
  display: inline-block;
  fill: #3B3836; }

.icon--xsmall {
  width: 14px;
  height: 14px; }

.icon--small {
  width: 24px;
  height: 24px; }

.icon--regular {
  width: 36px;
  height: 36px; }

.icon--arrow {
  fill: #FF6700; }

.icon--arrowback {
  fill: #FF6700; }

/*------------------------------------
HELPERS
------------------------------------*/
.hide {
  display: none; }

.footer__photo__mask img, .work__item__photo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
