@import 'styles/modules/all';
@import 'styles/partials/reset';

body {
  font-family:      $font-primary-stack, Helvetica, arial, sans-serif;
  font-weight:      $font-primary-weight-regular;
  font-style:       normal;
  font-size:        $body-size;
  line-height:      $body-lineheight;
  color:            $color-black;
  background-color: $color-lighter-grey;
  overflow-x:       hidden;
  text-rendering:   geometricPrecision;
}

a {
  color:           $color-primary;
  text-decoration: none;
}

/*------------------------------------
FONTS
------------------------------------*/

@include font-family($font-primary, $font-primary-weight-light, italic, 'fonts/merriweather/', 'Merriweather-LightIt');
@include font-family($font-primary, $font-primary-weight-regular, normal, 'fonts/merriweather/', 'Merriweather-Regular');
@include font-family($font-primary, $font-primary-weight-regular, italic, 'fonts/merriweather/', 'Merriweather-Italic');
@include font-family($font-primary, $font-primary-weight-medium, normal, 'fonts/merriweather/', 'Merriweather-Bold');
@include font-family($font-primary, $font-primary-weight-medium, italic, 'fonts/merriweather/', 'Merriweather-BoldItalic');
@include font-family($font-primary, $font-primary-weight-bold, normal, 'fonts/merriweather/', 'MerriweatherUltraBold');
@include font-family($font-primary, $font-primary-weight-bold, italic, 'fonts/merriweather/', 'Merriweather-UltraBdIt');

@include font-family($font-secondary, $font-secondary-weight-thin, normal, 'fonts/montserrat/', 'Montserrat-Thin');
@include font-family($font-secondary, $font-secondary-weight-extralight, normal, 'fonts/montserrat/', 'Montserrat-ExtraLight');
@include font-family($font-secondary, $font-secondary-weight-light, normal, 'fonts/montserrat/', 'Montserrat-Light');
@include font-family($font-secondary, $font-secondary-weight-regular, normal, 'fonts/montserrat/', 'Montserrat-Regular');
@include font-family($font-secondary, $font-secondary-weight-medium, normal, 'fonts/montserrat/', 'Montserrat-Medium');
@include font-family($font-secondary, $font-secondary-weight-semibold, normal, 'fonts/montserrat/', 'Montserrat-SemiBold');
@include font-family($font-secondary, $font-secondary-weight-black, normal, 'fonts/montserrat/', 'Montserrat-Black');

/*------------------------------------
TYPOGRAPHY
------------------------------------*/

.color--white {
  color: $color-white;
}

.color--grey {
  color: $color-grey;
}

h1 {
  font-family: $font-secondary-stack;
  font-size:   $h1-size;
  line-height: $h1-lineheight;
  font-weight: $font-secondary-weight-light
}

h2 {
  font-family: $font-secondary-stack;
  font-size:   $h2-size;
  line-height: $h2-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h3 {
  font-family: $font-secondary-stack;
  font-size:   $h3-size;
  line-height: $h3-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h4 {
  font-family: $font-secondary-stack;
  font-size:   $h4-size;
  line-height: $h4-lineheight;
  font-weight: $font-secondary-weight-regular;
}

h5 {
  font-family: $font-secondary-stack;
  font-size:   $h5-size;
  line-height: $h5-lineheight;
  font-weight: $font-secondary-weight-regular;
}

.typography-lead {
  font-family: $font-secondary-stack;
  font-size:   $lead-size;
  line-height: $lead-lineheight;
  font-weight: $font-secondary-weight-regular;
}

.typography-body, p {
  font-family: $font-primary-stack;
  font-size:   $body-size;
  line-height: $body-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-caption {
  font-family: $font-primary-stack;
  font-size:   $caption-size;
  line-height: $caption-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-small {
  font-family: $font-primary-stack;
  font-size:   $small-size;
  line-height: $small-lineheight;
  font-weight: $font-primary-weight-regular;
}


/*------------------------------------
LAYOUT
------------------------------------*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
  height: 55px;

  & ul {
    display: flex;

    & li {
      position:    relative;
      width:       100px;
      height:      55px;
      line-height: 55px;
      text-align:  center;
    }

    & li a {
      color: $color-grey;
    }

    & li a:hover, li a:active {
      color: $color-primary;
    }

    & li.selected::before {
      content:          ' ';
      position:         absolute;
      top:              0;
      left:             50%;
      z-index:          1;
      width:            25px;
      height:           4px;
      margin-left:      -12px;
      background-color: $color-primary;
    }

    & li.selected a, li.selected a:hover {
      font-weight: $font-primary-weight-medium;
      color:       $color-black;
    }
  }
}

footer {
  background-color: $color-black;
}

.footer__photo {
  padding-top: $base-unit * 21;
}

  .footer__photo__mask {
    position:      relative;
    width:         120px;
    height:        120px;
    border-radius: 60px;
    margin:        0 auto;
    text-align:    center;
    overflow:      hidden;

    & img {
      @extend %img.img-vertical-middle;
    }
  }

.footer__info {
  padding-top: $base-unit * 9;
  width:       305px;
  margin:      0 auto;
  text-align:  center;

  & p {
    padding-top: $base-unit * 3;
    color:       $color-light-grey;
  }

  &:after {
    content:          ' ';
    display:          block;
    margin:           $base-unit * 17 auto 0;
    width:            20px;
    height:           4px;
    background-color: $color-grey;
  }
}

.footer__links {
  padding-top: $base-unit * 18;

  & ul {
    display: flex;
    width:   520px;
    margin:  0 auto;

    & li {
      width:      130px;
      height:     70px;
      margin:     auto;
      text-align: center;

      & .icon {
        display: block;
        margin:  0 auto $base-unit * 3;
        fill:    $color-light-grey;
      }

      & a {
        @extend .typography-lead;
      }
    }
  }
}

.footer__copyright {
  padding:    $base-unit * 54 0 $base-unit * 12;
  width:      190px;
  margin:     0 auto;
  text-align: center;
}

.prefooter {
  height: 168px;
  line-height: 168px;
  text-align: center;
  background-color: $color-white;
}

.work {
  padding-top: $base-unit * 31;
}

  .work__item {
    width:      100%;
    display:    flex;
    position:   relative;
    margin-top: $base-unit * 35;
  }

  .work__item:first-child {
    margin-top: 0;
  }

  .work__item:last-child {
    margin-bottom: $base-unit * 50;
  }

  .work__item--left-orientation {
    flex-direction: row-reverse;
  }

    .work__item__photo {
      position:         relative;
      background-color: $color-tertiary;
      width:            632px;
      height:           504px;
      text-align:       center;

      & img {
        @extend %img.img-vertical-middle;
      }
    }

    .work__item__photo--dejavu {
      background-color: $color-aqua;
    }

    .work__item__photo--nasa {
      background-attachment: fixed;
      background: url(./i/nasa-work-list.png) center center;
      background-color: $color-tertiary;
    }

    .work__item__photo--lmp {
      background-color: $color-grass;
    }

    .work__item__photo--squidjob {
      background-color: $color-aqua;
    }

    .work__item__photo--concepts {
      background-color: $color-light-grey;
    }

    .work__item__info {
      position:         relative;
      top:              30px;
      right:            25px;
      width:            404px;
      height:           504px;
      background-color: $color-white;
      box-shadow:       -5px 5px 10px rgba(0, 0, 0, .06);
      box-shadow:       -5px 20px 35px rgba(0, 0, 0, .05);
      border-radius:    $corner-radius;
    }

    .work__item--left-orientation .work__item__info {
      top:        -20px;
      left:       15px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .06);
      box-shadow: 5px 20px 35px rgba(0, 0, 0, .05);
    }

      .work__item__info__wrapper {
        width:       254px;
        margin:      0 auto;
        padding-top: $base-unit * 20;
      }

      .work__item__info__tags {
        color:       $color-grey;
        padding-top: $base-unit * 3;
      }

      .work__item__info__content {
        padding-top: $base-unit * 12;
      }

      .work__item__info__button {
        padding-top: $base-unit * 11;
      }

input, textarea {
  font-family: $font-primary-stack;
}

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2;
}


/*------------------------------------
LINKS
------------------------------------*/

.link {
	color:            $color-primary;
  text-decoration: none;

  & .icon {
    margin-left: $base-unit,
  }
}

.link:hover,
.link:focus {
	color:           $color-grey;
  text-decoration: underline;

  & .icon {
    fill: $color-grey;
  }
}

.link:active {
	color: $color-tertiary;
}

/*------------------------------------
BUTTONS
------------------------------------*/

.button {
  font-family: $font-primary-stack;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
}

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83;
}

.button--submit:active {
  background-color: #16af7a;
}

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress;
}

.button--submit[disabled]:hover {
  border: none;
}

/*------------------------------------
ICONS
------------------------------------*/

.icon {
  display: inline-block;
  fill: $color-black;
}

.icon--xsmall {
	width:  14px;
	height: 14px;
}

.icon--small {
	width:  24px;
	height: 24px;
}

.icon--regular {
	width:  36px;
	height: 36px;
}

.icon--arrow {
  fill: $color-primary;
}

.icon--arrowback {
  fill: $color-primary;
}

/*------------------------------------
HELPERS
------------------------------------*/

.hide {
  display: none;
}

%img.img-vertical-middle {
	max-height: 100%;
	max-width : 100%;
	width     : auto;
	height    : auto;
	position  : absolute;
	top       : 0;
	bottom    : 0;
	left      : 0;
	right     : 0;
	margin    : auto;
}
