/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   -- modified by mahestro <millanluiseduardo@gmail.com>
   -- BEM-friendly
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Merriweather", Helvetica, arial, sans-serif, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background-color: #f8f8f8;
  overflow-x: hidden;
  text-rendering: geometricPrecision; }

a {
  color: #4490C1;
  text-decoration: none; }

/*------------------------------------
FONTS
------------------------------------*/
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Italic.eot");
  src: url("fonts/merriweather/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/Merriweather-Italic.woff") format("woff"), url("fonts/merriweather/Merriweather-Italic.ttf") format("truetype"), url("fonts/merriweather/Merriweather-Italic.svg#Merriweather") format("svg");
  font-weight: 400;
  font-style: italic; }

/*@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-Italic.eot');
  src: local('../fonts/merriweather/Merriweather Italic'), local('../fonts/merriweather/Merriweather-Italic'),
      url('../fonts/merriweather/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-Italic.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-Italic.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-Italic.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-Italic.svg#Merriweather-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherUltraBold.eot');
  src: local('../fonts/merriweather/Merriweather UltraBold'), local('../fonts/merriweather/MerriweatherUltraBold'),
      url('../fonts/merriweather/MerriweatherUltraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/MerriweatherUltraBold.woff2') format('woff2'),
      url('../fonts/merriweather/MerriweatherUltraBold.woff') format('woff'),
      url('../fonts/merriweather/MerriweatherUltraBold.ttf') format('truetype'),
      url('../fonts/merriweather/MerriweatherUltraBold.svg#MerriweatherUltraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-Regular.eot');
  src: local('../fonts/merriweather/Merriweather Regular'), local('../fonts/merriweather/Merriweather-Regular'),
      url('../fonts/merriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-Regular.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-Regular.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-Regular.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-LightIt.eot');
  src: local('../fonts/merriweather/Merriweather Light Italic'), local('../fonts/merriweather/Merriweather-LightIt'),
      url('../fonts/merriweather/Merriweather-LightIt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-LightIt.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-LightIt.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-LightIt.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-LightIt.svg#Merriweather-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-Bold.eot');
  src: local('../fonts/merriweather/Merriweather Bold'), local('../fonts/merriweather/Merriweather-Bold'),
      url('../fonts/merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-Bold.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-Bold.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-Bold.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-BoldItalic.eot');
  src: local('../fonts/merriweather/Merriweather Bold Italic'), local('../fonts/merriweather/Merriweather-BoldItalic'),
      url('../fonts/merriweather/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-BoldItalic.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-BoldItalic.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-BoldItalic.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-UltraBdIt.eot');
  src: local('../fonts/merriweather/Merriweather UltraBold Italic'), local('../fonts/merriweather/Merriweather-UltraBdIt'),
      url('../fonts/merriweather/Merriweather-UltraBdIt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/merriweather/Merriweather-UltraBdIt.woff2') format('woff2'),
      url('../fonts/merriweather/Merriweather-UltraBdIt.woff') format('woff'),
      url('../fonts/merriweather/Merriweather-UltraBdIt.ttf') format('truetype'),
      url('../fonts/merriweather/Merriweather-UltraBdIt.svg#Merriweather-UltraBdIt') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Medium.eot');
  src: local('../fonts/montserrat/Montserrat Medium'), local('../fonts/montserrat/Montserrat-Medium'),
      url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Light.eot');
  src: local('../fonts/montserrat/Montserrat Light'), local('../fonts/montserrat/Montserrat-Light'),
      url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
  src: local('../fonts/montserrat/Montserrat SemiBold'), local('../fonts/montserrat/Montserrat-SemiBold'),
      url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.eot');
  src: local('../fonts/montserrat/Montserrat Bold'), local('../fonts/montserrat/Montserrat-Bold'),
      url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Thin.eot');
  src: local('../fonts/montserrat/Montserrat Thin'), local('../fonts/montserrat/Montserrat-Thin'),
      url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-ExtraLight.eot');
  src: local('../fonts/montserrat/Montserrat ExtraLight'), local('../fonts/montserrat/Montserrat-ExtraLight'),
      url('../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: local('../fonts/montserrat/Montserrat Regular'), local('../fonts/montserrat/Montserrat-Regular'),
      url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
  src: local('../fonts/montserrat/Montserrat ExtraBold'), local('../fonts/montserrat/Montserrat-ExtraBold'),
      url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Black.eot');
  src: local('../fonts/montserrat/Montserrat Black'), local('../fonts/montserrat/Montserrat-Black'),
      url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype'),
      url('../fonts/montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}*/
/*------------------------------------
LAYOUT
------------------------------------*/
input, textarea {
  font-family: 'Avenir'; }

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f; }

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2; }

/*------------------------------------
BUTTONS
------------------------------------*/
.button {
  font-family: 'Avenir Book';
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer; }

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer; }

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83; }

.button--submit:active {
  background-color: #16af7a; }

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress; }

.button--submit[disabled]:hover {
  border: none; }

/*------------------------------------
ICONS
------------------------------------*/
.icon {
  display: inline-block;
  background-size: 80px; }

.icon--small {
  width: 20px;
  height: 20px; }

.icon--medium {
  width: 32px;
  height: 32px; }

.icon--back {
  background-position: 0 0; }

.icon--timer {
  background-position: 0 -20px; }

.icon--plus {
  background-position: 0 -60px; }

/*------------------------------------
HELPERS
------------------------------------*/
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

/*------------------------------------
MEDIAS
------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  .icon {
    /* background-image: url('i/sprite@2x.png') */ } }
